<!--<div style="height: 5rem;" class="mat-app-background dark-theme">-->
<!--  <button mat-raised-button color="primary" class="mat-primary dark-theme">Primary</button>-->
<!--  <button mat-raised-button style="background-color: #f49a25;">Accent</button>-->

<!--  <button (click)="toggleTheme(false)">Light Mode</button>-->
<!--  <button (click)="toggleTheme(true)">Dark Mode</button>-->
<!--</div>-->

<div class="container">
  <mat-card class="card">
    <div class="background">
      <mat-card-title-group class="mat-card-center" >
        <mat-card-title class="roboto-slab-title-text">
          Discover your ideal job
        </mat-card-title>
        <mat-card-subtitle class="small-text-decor">
          Take our quiz to find your perfect career.
        </mat-card-subtitle>
      </mat-card-title-group>

      <div class="button-margin">
        <button class="button-decor" mat-raised-button color="primary" (click)="startQuiz()">START</button>
      </div>

    </div>

  </mat-card>
</div>

