.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 70%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 75%;
  width: 45%;
  border-radius: 10px;

}


.roboto-slab-title-text {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
  text-wrap: normal;
  text-align: center;
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  padding: 0 2rem 0 2rem;
}

.mat-card-center {
  display: flex;
  justify-content: center;
}

.small-text-decor{
  color: white;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius:  0 0 10px 10px;
  padding: 0 2rem 0 2rem;
}

.background {
  background-image: url("../../../assets/start_image_6.jpg");
  height: 75%;
  width: 45%;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button-margin {
  margin: 2rem;
}

.button-decor {
  font-weight: 700 !important;
  border-radius: 2rem !important;
}

