.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 70%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 30rem;
  border-radius: 10px;
  margin: 1rem;
}

@media only screen and (max-height: 900px) {
  img {
    width: 20rem;
    border-radius: 10px;
  }
}

.roboto-slab-title-text {

  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-wrap: normal;
  text-align: center;
  color: black;
}

.mat-card-center {
  display: flex;
  justify-content: center;
}

.button-decor {
  font-weight: 700 !important;
  border-radius: 2rem !important;
}

