.roboto-slab-title-text {
  font-family: "Roboto Slab", serif;
  font-size: 1.7rem;
  font-weight: 700;
  font-style: normal;
  text-wrap: normal;
  text-align: center;
  margin: 0 0 0.5rem;
}


img {
  height: 12rem;
  border-radius: 10px;
}

.image-question{
  display: flex;
  flex-direction: column;
  align-items: center;
}
